@media screen and (max-width:1000px) {
  .common_el_1,
  .common_el_2,
  .common_el_3,
  .common_el_4 {
    opacity: 0;
  }
  
}
/* ===== end of @media screen and (max-width:100px) ===== */


/* ===== jQueryで付与するPC版専用moreボタンクラス ===== */
.btn_on_1 {
  animation: js_el_effect_1 .8s ease-in-out forwards;
}

.btn_on_2 {
  animation: js_el_effect_2 .8s ease-in-out forwards;
}


/* ===== jQueryで付与するモバイル専用、要素表示クラス ===== */
.trigg_1 .common_el_1.display_on_1 {
  animation: js_el_effect_3 .8s ease-in-out forwards;
}
.trigg_1 .common_el_2.display_on_1 {
  animation: js_el_effect_4 .8s ease-in-out .2s forwards;
}
.trigg_1 .common_el_3.display_on_1 {
  animation: js_el_effect_5 .8s ease-in-out .4s forwards;
}
.trigg_1 .common_el_4.display_on_1 {
  animation: js_el_effect_6 .8s ease-in-out .6s forwards;
}


.trigg_2 .common_el_1.display_on_2 {
  animation: js_el_effect_7 .8s ease-in-out forwards;
}
.trigg_2 .common_el_2.display_on_2 {
  animation: js_el_effect_8 .8s ease-in-out .2s forwards;
}
.trigg_2 .common_el_3.display_on_2 {
  animation: js_el_effect_9 .8s ease-in-out .4s forwards;
}
.trigg_2 .common_el_4.display_on_2 {
  animation: js_el_effect_10 .8s ease-in-out .6s forwards;
}


.trigg_3 .common_el_1.display_on_3 {
  animation: js_el_effect_11 .8s ease-in-out forwards;
}
.trigg_3 .common_el_2.display_on_3 {
  animation: js_el_effect_12 .8s ease-in-out .2s forwards;
}
.trigg_3 .common_el_3.display_on_3 {
  animation: js_el_effect_13 .8s ease-in-out .4s forwards;
}
.trigg_3 .common_el_4.display_on_3 {
  animation: js_el_effect_14 .8s ease-in-out .6s forwards;
}


.trigg_4 .common_el_1.display_on_4 {
  animation: js_el_effect_15 .8s ease-in-out forwards;
}
.trigg_4 .common_el_2.display_on_4 {
  animation: js_el_effect_16 .8s ease-in-out .2s forwards;
}
.trigg_4 .common_el_3.display_on_4 {
  animation: js_el_effect_17 .8s ease-in-out .4s forwards;
}
.trigg_4 .common_el_4.display_on_4 {
  animation: js_el_effect_18 .8s ease-in-out .6s forwards;
}



/* ===== 
.btn_on_1, .btn_on_2に設定
 ===== */
@keyframes js_el_effect_1 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===== 
.trigg_1 .common_el_1.display_on_1 ～ 
.trigg_1 .common_el_4.display_on_1に設定
 ===== */
@keyframes js_el_effect_3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_4 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_5 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_6 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===== 
.trigg_2 .common_el_1.display_on_2 ～ 
.trigg_2 .common_el_4.display_on_2に設定
 ===== */
 @keyframes js_el_effect_7 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_8 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_9 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_10 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===== 
.trigg_3 .common_el_1.display_on_3 ～ 
.trigg_3 .common_el_4.display_on_3に設定
 ===== */
 @keyframes js_el_effect_11 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_12 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_14 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===== 
.trigg_4 .common_el_1.display_on_4 ～ 
.trigg_4 .common_el_4.display_on_4に設定
 ===== */
 @keyframes js_el_effect_15 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_16 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_17 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes js_el_effect_18 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}