@charset "urt-8";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

.form_wrapper {
  /* width: 1000px; */
  max-width: 1000px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: auto;
  background: #f1f1f1;
}
.form_wrapper h3 {
  text-align: center;
  font-size: 26px;
  padding: 32px 0px;
}

.form_wrapper h3 br {
  display: none;
}

/* チェックボックスとラベルのカラム落ちを防ぐため、inputとlabelがinline-blockの場合、親要素にfont-sizeを指定し、各子要素にはfont-size:0;を設定する */
.form_inner {
  background: #fff;
  width: 100%;
  font-size: 0;
}
/* inpustタグ全体 */
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 16px;
  margin: 0 2% 0 2%;
}

/* ios対策の実験としてid="html"のinputタグだけ下記スタイルを設置*/
/* 非チェック時 */
input[type="checkbox"]#html {
  /* ios対策のスタイルを追加していく*/
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  border: 1px solid #767676;
  font-size: 16px;
  position: relative;
  border-radius: 2px;
}
input[type="checkbox"]#html:hover {
  border: 1px solid #4f4f4f;
}

/* チェック時 */
input[type="checkbox"]#html:checked {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* background: #005cc8; */
  background: rgb(0, 117, 255);
  /* border: 1px solid #005cc8; */
  border: 1px solid rgb(0, 117, 255);
}
input[type="checkbox"]#html:checked:hover {
  background: #005cc8;
  border: 1px solid #005cc8;
}

input[type="checkbox"]#html:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  display: inline-block;
  width: 6px;
  height: 2px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-47deg);
}
/* ios対策の実験としてid="html"のinputタグだけ上記スタイルを設置*/

label {
  display: inline-block;
  width: 44%;
  margin: 0 0 0 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .form_wrapper h3 {
    font-size: 24px;
  }
  .form_wrapper h3 br {
    display: block;
  }
  .form_inner {
    width: 80%;
    padding: 20px;
    margin: auto;
  }

  /* inpustタグ全体 */
  input[type="checkbox"] {
    margin: 0 1% 0 1%;
  }

  label {
    width: 40%;
    font-size: 14px;
    margin: 0 0 0 5%;
  }
}

@media (max-width: 560px) {
  input[type="checkbox"] {
    margin: 0 1.2% 0 1.2%;
  }
  label {
    width: 38%;
    font-size: 14px;
    margin: 0 0 0 5%;
  }
  .form_wrapper h3 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  input[type="checkbox"] {
    margin: 0 2% 0 2%;
  }
  label {
    width: 83%;
    font-size: 14px;
    margin: 0 0 0 5%;
  }
  .form_wrapper h3 {
    font-size: 20px;
  }
}
